@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "MyCustomFont";
  src:
    url("./assets/fonts/melagllik/MELAGLLIK (ITALIC).woff2") format("woff2"),
    url("./assets/fonts/melagllik/MELAGLLIK (ITALIC).woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyCustomFont2";
  src:
    url("./assets/fonts/melagllik/MELAGLLIK.woff2") format("woff2"),
    url("./assets/fonts/melagllik/MELAGLLIK.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyCustomFont3";
  src: url("./assets/fonts/new_romantics/ROMANTIC.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyCustomFont4";
  src: url("./assets/fonts/planet_kosmos/PLANK___.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyCustomFont5";
  src: url("./assets/fonts/ATHEROSSER.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyCustomFont6";
  src: url("./assets/fonts/MagazineLetterByBrntlbrnl-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
